{% extends 'base.html.twig' %}
{% block title %}Редактирование отгула {{ days_off.name }}{% endblock title %}

{% block body %}
    <h3>Редактирование отгула</h3>
    {% include('_form.html.twig') %}
{% endblock %}
