{% extends 'base.html.twig' %}
{% block title %}Создание позиции сотрудника{% endblock title %}

{% block body %}
    <h3>Создание позиции сотрудника</h3>
    {% include('_form.html.twig') %}
{% endblock %}
