{% extends 'base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block body %}
    <h2>
        Добро пожаловать в приложение для учета персонала, предназначенное для отдела продаж.<br>
        Здесь вы сможете вести учета отделов, работников, их отпусков, больничных и т.д., должностей, обязанностей
        и многое другое.
    </h2>
{% endblock %}
