{% extends 'base.html.twig' %}
{% block title %}Редактирование вида рабочих статусов{% endblock title %}

{% block body %}
    <h4>Редактирование вида рабочих статусов</h4>
    {% include('_form.html.twig') %}
{% endblock %}
