{% extends 'base.html.twig' %}
{% block title %}Редактирование вида отгулов{% endblock title %}

{% block body %}
    <h4>Редактирование вида отгулов</h4>
    {% include('_form.html.twig') %}
{% endblock %}
