{% extends 'base.html.twig' %}
{% block title %}Создание вида рабочих статусов{% endblock title %}

{% block body %}
    <h3>Создание вида рабочих статусов</h3>
    {% include('_form.html.twig') %}
{% endblock %}
