{% extends 'base.html.twig' %}
{% block title %}Создание вида рабочих статусов{% endblock title %}

{% block body %}
    <h4>Создание вида рабочих статусов</h4>
    {% include('_form.html.twig') %}
{% endblock %}
