{% extends 'base.html.twig' %}

{% block title %}Должности{% endblock %}

{% block body %}
    <a href="{{ path('app_job_title_index') }}" class="page-btn">Назад</a>
    <div class="entity-card">
        <div class="entity-card-body">
            <h4>{{ job_title.id }}. {{ job_title.name }}</h4>
            <p>Зарплата: {{ job_title.salary }} ₽</p>
        </div>
    </div>
{% endblock %}
