html {
    --page-black-color: #050505;
    --page-white-color: #e1e1e1;
    --font-size: 18px;
    --font-family: "Times New Roman", sans-serif;
    font-size: var(--font-size);
    font-family: var(--font-family);
}

body {
    margin: 0;
    height: 100vh;
}

.page-content {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}

.page-header {
    height: calc(100% - 2rem);
    flex: 0 0 175px;
    background: #c6c6c6;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.page-title {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    text-decoration: none;
    color: var(--page-black-color);
}

.page-title > img {
    height: 40px;
    width: 40px;
}

.page-title > h4 {
    margin: 0;
}

.page-navbar {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.navbar-item {
    padding: 0.25rem 0.4rem;
    text-decoration: none;
    color: var(--page-black-color);
    border-radius: 0.25rem;
}

.navbar-item:hover {
    background: rgba(0, 0, 0, 0.1);
}

.navbar-item:active {
    background: rgba(0, 0, 0, 0.15);
}

.page-body {
    padding: 1rem;
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 0.25rem;
}

form[name='form'] > *,
#form > div {
    width: 100%;
    margin: 0.5rem 0;
    box-sizing: border-box;
}

.page-btn {
    display: block;
    text-align: center;
    padding: 0.25rem 0.55rem;
    color: var(--page-black-color);
    text-decoration: none;
    background-color: #c6c6c6;
    border-radius: 0.4rem;
    border: none;
    font-size: var(--font-size);
    font-family: var(--font-family);
}

.page-btn:hover {
    background-color: #b1b1b1;
}

.page-btn:active {
    background-color: #9c9c9c;
}

.entity-card {
    text-decoration: none;
    color: var(--page-black-color);
    background-color: #c6c6c6;
    padding: 0.75rem;
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1rem;
    height: max-content;
}

.cards-table .entity-card {
    height: 100%;
    box-sizing: border-box;
}

.entity-card.with-btns {
    flex-direction: row;
}

.entity-card.without-btns {
    flex-direction: column;
}

.entity-card-btns {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 1.6rem;
}

.cards-table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    gap: 1rem;
    width: 100%;
}

.icon-btn-l {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    width: 1.6rem;
    height: 1.6rem;
    padding: 0.05rem;
}

.icon-btn-l > img {
    width: 1.5rem;
    height: 1.5rem;
}

.icon-btn-s {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    width: 1.2rem;
    height: 1.2rem;
    padding: 0.1rem;
}

.icon-btn-s > img {
    width: 1rem;
    height: 1rem;
}

.icon-btn-l:hover,
.icon-btn-s:hover {
    background: rgba(0, 0, 0, 0.1);
}

.icon-btn:active,
.icon-btn-s:active {
    background: rgba(0, 0, 0, 0.15);
}

.entity-card-body > * {
    padding: 0;
    margin: 0;
}

.table-in-card, .table-in-card td, .table-in-card th {
    border: none;
    text-align: left;
}

.table-in-card tr {
    border-bottom: #9b9b9b 1px solid;
}

.entity-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-with-table-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-with-table-container h4 {
    margin: 0.25rem 0;
}

.department-header {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.department-header > h4 {
    margin: 0;
    padding: 0;
}

.employee-table tbody tr:hover {
    background: rgba(0, 0, 0, 0.1);
}

.employee-table tbody tr:active {
    background: rgba(0, 0, 0, 0.15);
}

.table-cell-link {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0.25rem;
    color: var(--page-black-color);
    text-decoration: none;
}

.employee-table td {
    padding: 0;
}

.employee-card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto;
    gap: 0.5rem;
}
