{% extends 'base.html.twig' %}
{% block title %}{{ department.name }}. Редактирование{% endblock title %}

{% block body %}
    <div class="form-container">
        <h4>Редактирование отдела {{ department.name }}</h4>
        {% include('_form.html.twig') %}
    </div>
{% endblock %}
