{% extends 'base.html.twig' %}
{% block title %}Редактирование сотрудника{% endblock title %}

{% block body %}
    <div class="form-container">
        <h4>Редактирование сотрудника {{ employee.secondName }} {{ employee.firstName }}</h4>
        {% include('_form.html.twig') %}
    </div>
{% endblock %}
