{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="form-submit-btn" type="submit">Сохранить</button>
    <a class="form-cancel-btn" href="{{ path('app_settings_index') }}">Отмена</a>
{{ form_end(form) }}
