{% extends 'base.html.twig' %}
{% block title %}Создание обязанности{% endblock title %}

{% block body %}
    <h3>Создание рабочей обязанности</h3>
    {% include('_form.html.twig') %}
{% endblock %}
